{{ $adjFeats := newScratch }}
{{ $adjFeats.Set "N" (slice) }}
{{ $adjFeats.Set "NE" (slice) }}
{{ $adjFeats.Set "E" (slice) }}
{{ $adjFeats.Set "SE" (slice) }}
{{ $adjFeats.Set "S" (slice) }}
{{ $adjFeats.Set "SW" (slice) }}
{{ $adjFeats.Set "W" (slice) }}
{{ $adjFeats.Set "NW" (slice) }}

{{ $highways := slice }}
{{ range .Params.next }}
{{ if .bearing }}
{{ $adjFeats.Add .bearing (slice . ) }}
{{ end }}
{{ range .highways }}
{{ $highways = $highways | append  . }}
{{ end }}
{{ end }}
{{ range .Params.prev }}
{{ if .bearing }}
{{ $adjFeats.Add .bearing (slice . ) }}
{{ end }}
{{ range .highways }}
{{ $highways = $highways | append  . }}
{{ end }}
{{ end }}

{{ $featureId := .Params.featureid }}

<div class="grid grid-cols-3 gap-4">
    <div class="justify-self-start text-gray-900 dark:text-white">
        {{ range $adjFeats.Get "NW"}}
        {{ partial "feature/item.html" (dict "ctx" . "featureid" $featureId) }}
        {{ end }}
        {{ range $adjFeats.Get "W"}}
        {{ partial "feature/item.html" (dict "ctx" . "featureid" $featureId) }}
        {{ end }}
        {{ range $adjFeats.Get "SW"}}
        {{ partial "feature/item.html" (dict "ctx" . "featureid" $featureId) }}
        {{ end }}
        {{ range $adjFeats.Get "S"}}
        {{ partial "feature/item.html" (dict "ctx" . "featureid" $featureId) }}
        {{ end }}
    </div>
    <div class="justify-self-center text-gray-900 dark:text-white">

    </div>
    <div class="justify-self-end text-gray-900 dark:text-white">
        {{ range $adjFeats.Get "N"}}
        {{ partial "feature/item.html" (dict "ctx" . "featureid" $featureId) }}
        {{ end }}
        {{ range $adjFeats.Get "NE"}}
        {{ partial "feature/item.html" (dict "ctx" . "featureid" $featureId) }}
        {{ end }}
        {{ range $adjFeats.Get "E"}}
        {{ partial "feature/item.html" (dict "ctx" . "featureid" $featureId) }}
        {{ end }}
        {{ range $adjFeats.Get "SE"}}
        {{ partial "feature/item.html" (dict "ctx" . "featureid" $featureId) }}
        {{ end }}
    </div>
</div>
