        {{ $link := .RelPermalink }}
        {{ $featureName := .Params.name }}
        {{ $featureId := .Params.id }}
        {{ with .Params.signs }}

        {{ $sign := index (first 1 . ) 0 }}
        {{ $signCount := len . }}

        {{ $signpage := printf "/%s/%s" "sign" $sign }}
        {{ with $.Site.GetPage $signpage}}
        <div
                data-cy="feature-summary"
                class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
                  <a id="{{$featureId}}" href="{{$link}}">
                          <img class="rounded-t-lg" width="1024" height="768" loading="lazy" style="--lqip:{{.Params.lqip}}"  src="{{site.Params.SIGNBASEURL}}{{  .Params.imageid}}/{{  .Params.imageid}}_m.jpg" alt="{{.Params.title}}" >
                  </a>
            <div class="p-5">
                <p class="font-semibold text-lg text-gray-900 dark:text-white">{{$featureName}}</p>
                <p class="text-base text-gray-900 dark:text-white">{{$signCount}} {{ if eq $signCount 1 }} sign {{ else }} signs {{end}}</p>
                </div>
            </div>
        {{ end }}
        {{ end }}