{{ with .Params.place }}
{{ $placeSlug := . }}
{{ $path := printf "/%s/%s" "place" $placeSlug }}
{{ with $.Site.GetPage $path }}
<a itemprop="place" class="p-0 text-xs text-gray-700 dark:text-gray-400 underline hover:no-underline" href="{{.RelPermalink}}">{{ .Params.name }}</a>
{{ end }}
{{ end }}

{{ with .Params.county }}
{{ $countySlug := . }}
{{ $path := printf "/%s/%s" "county" $countySlug  }}
{{ with $.Site.GetPage $path }}
<a itemprop="county" class="p-0 text-xs text-gray-700 dark:text-gray-400 underline hover:no-underline" href="{{.RelPermalink}}">{{ .Params.name }}</a>
{{ end }}
{{ end }}

{{ $stateSlug := .Params.state }}
{{ $path := printf "/%s/%s" "state" $stateSlug }}
{{ with $.Site.GetPage $path }}
<a itemprop="state" class="p-0 text-xs text-gray-700 dark:text-gray-400 underline hover:no-underline" href="{{.RelPermalink}}">{{ .Params.name }}</a>
{{ end }}


{{ $countrySlug := .Params.country }}
{{ $path := printf "/%s/%s" "country" $countrySlug }}
{{ with $.Site.GetPage $path }}
<a itemprop="country" class="p-0 text-xs text-gray-700 dark:text-gray-400 underline hover:no-underline" href="{{.RelPermalink}}">{{ .Params.name }}</a>
{{ end }}