{{- $validAlign := slice "center" "no-center" }}
{{- $msg1 := "title is not set" }}
{{- $msg2 := "center or no-center" }}

{{- $text := . }}
{{- $align := "no-center" }}
{{- $testAttr := "" }}

{{- if reflect.IsMap . }}
    {{- with .text }}
        {{- $text = . }}
    {{- else }}
        {{- errorf $msg1 }}
    {{- end }}
    {{- with .align }}
        {{- $align = lower . }}
    {{- end }}
    {{- with .test }}
        {{- $testAttr = . }}
    {{- end }}
{{- end }}

{{- if in $validAlign $align }}
<h1 id="page-title-main" {{ if $testAttr }} data-cy="{{$testAttr}}" {{ end }} class="text-3xl  font-bold dark:text-white {{ if eq $align "center"}}text-center{{end}}">{{ $text }}</h1>
{{- else }}
{{- errorf $msg2 }}
{{- end -}}




