{{- $validFormats := slice "default" "terse" }}

{{- $msg1 := "When passing a map to the internal pagination template, one of the elements must be named 'page', and it must be set to the context of the current page." }}
{{- $msg2 := "The 'format' specified in the map passed to the internal pagination template is invalid. Valid choices are: %s." }}

{{- $page := . }}
{{- $format := "default" }}

{{- if reflect.IsMap . }}
  {{- with .page }}
    {{- $page = . }}
  {{- else }}
    {{- errorf $msg1 }}
  {{- end }}
  {{- with .format }}
    {{- $format = lower . }}
  {{- end }}
{{- end }}

{{- if in $validFormats $format }}
  {{- if gt $page.Paginator.TotalPages 1 }}

<nav aria-label="Pagination" data-cy="pagination">
    <ul class="flex -space-x-px text-sm justify-center">
        {{- with .Paginator }}
        {{- $currentPageNumber := .PageNumber }}

        {{- with .First }}
        <li>
            <a href="{{ .URL }}" aria-label="First" class="flex items-center justify-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading font-medium rounded-s-base text-sm w-9 h-9 focus:outline-none  text-gray-900 dark:text-white " data-cy="pagination-first" ><span aria-hidden="true">&laquo;&laquo;</span></a>
        </li>
        {{- end }}

        {{- with .Prev }}
        <li>
            <a href="{{ .URL }}" aria-label="Previous" class="flex items-center justify-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading font-medium text-sm w-9 h-9 focus:outline-none  text-gray-900 dark:text-white" role="button" data-cy="pagination-prev"><span aria-hidden="true">&laquo;</span></a>
        </li>
        {{- end }}

        {{- $slots := 5 }}
        {{- $start := math.Max 1 (sub .PageNumber (math.Floor (div $slots 2))) }}
        {{- $end := math.Min .TotalPages (sub (add $start $slots) 1) }}
        {{- if lt (add (sub $end $start) 1) $slots }}
        {{- $start = math.Max 1 (add (sub $end $slots) 1) }}
        {{- end }}

        {{- range $k := seq $start $end }}
        {{- if eq $.Paginator.PageNumber $k }}
        <li>
            <a aria-current="page" aria-label="Page {{ $k }}" class="flex items-center justify-center text-fg-brand bg-neutral-tertiary-medium box-border border border-default-medium hover:text-fg-brand font-medium text-sm w-9 h-9 focus:outline-none  text-gray-900 dark:text-white" role="button"  data-cy="pagination-page-current" data-page="{{ $k }}">{{ $k }}</a>
        </li>
        {{- else }}
        <li>
            <a href="{{ (index $.Paginator.Pagers (sub $k 1)).URL }}" aria-label="Page {{ $k }}" class="flex items-center justify-center text-fg-brand bg-neutral-tertiary-medium box-border border border-default-medium hover:text-fg-brand font-medium text-sm w-9 h-9 focus:outline-none  text-gray-900 dark:text-white" role="button" data-cy="pagination-page" data-page="{{ $k }}" >{{ $k }}</a>
        </li>
        {{- end }}
        {{- end }}

        {{- with .Next }}
        <li>
            <a href="{{ .URL }}" aria-label="Next" class="flex items-center justify-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading font-medium text-sm w-9 h-9 focus:outline-none  text-gray-900 dark:text-white"   data-cy="pagination-next"  role="button"><span aria-hidden="true">&raquo;</span></a>
        </li>
        {{- end }}

        {{- with .Last }}
        <li>
            <a href="{{ .URL }}" aria-label="Last" class="flex items-center justify-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading font-medium rounded-e-base text-sm w-9 h-9 focus:outline-none  text-gray-900 dark:text-white" role="button" data-cy="pagination-last"><span aria-hidden="true">&raquo;&raquo;</span></a>
        </li>
        {{- end }}
        {{- end }}
    </ul>
</nav>
  {{- end }}
{{- else }}
  {{- errorf $msg2 (delimit $validFormats ", ") }}
{{- end -}}
