{{ $toHighways := .Params.toHighways }}
{{ $featId := .Params.featureid }}
{{ with .Params.highway }}
{{ range . }}
{{ $slug := . }}

{{ $path := printf "/%s/%s" "highway" $slug }}
{{ with $.Site.GetPage $path }}

{{ $borderClass :=  cond (in $toHighways  $slug  ) "shield-to-border" "" }}
<a href="{{.RelPermalink}}#{{$featId}}"><img class="shield-padding {{ $borderClass }}"
        src="{{ site.Params.SHIELD_BASE_URL }}Shields/20x/{{ .Params.imagename }}" alt="{{ .Params.name }}"></a>
{{ end }}
{{ end }}
{{ end }}
