{{ $toHighways := .Params.toHighways }}
{{ $featId := .Params.featureid }}
{{ with .Params.highway }}
{{ range . }}
{{ $slug := . }}

{{ $path := printf "/%s/%s" "highway" $slug }}
{{ with $.Site.GetPage $path }}

{{ $borderClass :=  cond (in $toHighways  $slug  ) "border-dotted border-2 border-gray-500 dark:border-sky-500" "" }}
{{ $isTo := in $toHighways  $slug  }}
<a data-cy="highway-link" itemprop="highway" data-highway-name="{{ .Params.name }}" data-highway-isto="{{ $isTo }}" href="{{.RelPermalink}}#{{$featId}}"><img class="inline {{$borderClass}}"
        src="{{ site.Params.SHIELDBASEURL }}Shields/20x/{{ .Params.imagename }}"
                                             onerror="this.onerror=null; this.remove();"
                                             alt="{{ .Params.name }}"></a>
{{ end }}
{{ end }}
{{ end }}
