{{ $toHighways := .Params.toHighways }}
{{ $featId := .Params.featureid }}
{{ with .Params.highway }}
{{ range . }}
{{ $slug := . }}

{{ $path := printf "/%s/%s" "highway" $slug }}
{{ with $.Site.GetPage $path }}

{{ $borderClass :=  cond (in $toHighways  $slug  ) "shield-to-border" "" }}
<a href="{{.RelPermalink}}#{{$featId}}"><img class="inline"
        src="{{ site.Params.SHIELDBASEURL }}Shields/20x/{{ .Params.imagename }}"
                                             onerror="this.onerror=null; this.remove();"
                                             alt="{{ .Params.name }}"></a>
{{ end }}
{{ end }}
{{ end }}
