{{ define "main" }}
<section>
    <div class="h-screen">
        <div id="map" class="h-full z-[1]"></div>
    </div>
</section>
{{ end }}

{{ define "header" }}
<script src='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet'/>
<style>

</style>
{{ end }}

{{ define "footer" }}
<script>
    (function (signBaseUrl, mapBoxToken, mapTileUrl) {


        mapboxgl.accessToken = mapBoxToken;
        const map = new mapboxgl.Map({
            container: 'map', // container ID
            style: 'mapbox://styles/mapbox/streets-v12', // style URL
            center: [-95, 40], // starting position [lng, lat]
            zoom: 4 // starting zoom
        });

        // When the cursor enters a feature in the point layer, prepare for dragging.
        map.on("click", "sign", (e) => {
            if (e.features && e.features.length > 0) {
                const geom = e.features[0]?.geometry;
                if (geom.type === "Point") {
                    const id = e.features[0]?.properties?.id;

                    const point = geom;
                    const coordinates = point.coordinates;
                    const title = e.features[0]?.properties?.title;
                    const aNode = document.createElement("a");
                    aNode.href = "/sign/" + e.features[0]?.properties?.imageid;

                    const pNode = document.createElement("p");
                    const titleNode = document.createTextNode(title);

                    pNode.appendChild(titleNode);
                    aNode.appendChild(pNode);
                    const img = document.createElement("img");
                    img.className = "object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg";
                    img.src = signBaseUrl + e.features[0]?.properties?.imageid + "/" + e.features[0]?.properties?.imageid + "_s.jpg";

                    aNode.appendChild(img);

                    new mapboxgl.Popup()
                        .setLngLat([coordinates[0], coordinates[1]])
                        .setDOMContent(aNode)
                        .addTo(map);
                }
            }
        });


        map.on('init', () => {
            map.resize();
        });

        map.on("load", () => {
            map.addSource('signs', {
                type: 'vector',
                tiles: [mapTileUrl],
                minzoom: 0,
                maxzoom: 16,
            });


            map.addLayer({
                id: "sign",
                type: "circle",
                source: "signs",
                "source-layer": "signs",
                paint: {
                    "circle-radius": 8,
                    "circle-color": "rgba(55,148,179,1)",
                },
            });
        });
    })('{{.Site.Params.SIGNBASEURL}}', '{{.Site.Params.MAPBOXTOKEN}}', '{{.Site.Params.MAPTILE}}');
</script>
{{ end }}