{{ define "header" }}
<link rel="stylesheet" href="https://unpkg.com/instantsearch.css@7/themes/satellite-min.css" />
{{ $css := resources.Get "css/theme.min.css" }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}">
{{ end }}

{{ define "main" }}
<section class="container mx-auto">
  <div class="flex justify-center">
    <div id="autocomplete"></div>
  </div>
  <div class="flex justify-center">
  <div class="container">
  <div>
    <div id="categories"></div>
  </div>
  <div>
    <div id="hits"></div>
    <div id="pagination"></div>
  </div>
</div>
  </div>
</section>
{{ end }}

{{ define "footer" }}
{{ $jsBundle := resources.Get "js/search.js" | js.Build | fingerprint  }}
<input type="hidden" id="schnauz" value="{{.Site.Params}}" />
<input type="hidden" id="search-url" value="{{.Site.Params.SEARCHURL}}" />
<input type="hidden" id="search-api-key" value="{{.Site.Params.SEARCHKEY}}" />
<input type="hidden" id="search-index" value="{{.Site.Params.SEARCHINDEX}}" />
<input type="hidden" id="sign-base-url" value="{{.Site.Params.SIGNBASEURL}}" />
<script src="{{ $jsBundle.RelPermalink }}" integrity="{{ $jsBundle.Data.Integrity }}" defer></script>
{{ end }}