{:paths ["script"]
 :pods {org.babashka/postgresql {:version "0.1.2"}
        org.babashka/go-sqlite3 {:version "0.2.4"}}
 :tasks {clean-content {:requires ([babashka.fs :as fs])
                        :doc "Clean content directory"
                        :task (doseq [d ["country" "county" "feature" "highwayType" "highway" "place" "sign" "state"]]
                                (fs/delete-tree (fs/path "./content" d)))}
         local {:task (shell "hugo serve") :doc "Run Hugo Server Locally"}
         build {:task (shell "go run .") :doc "Build exports"}
         index {:task index/-main :doc "Update indexes"}
         static-site {:task (shell "hugo --gc --minify") 
                      :doc "Build static site"}
         static-site-debug {:task (shell "hugo --gc --minify --logLevel debug") 
                            :doc "Build static site with debugging info"}
         eagle-import {:task eagle-import/-main 
                       :doc "import new images into Eagle"}
         eagle-quality {:task eagle-import/batch-update-quality 
                        :doc "Update Quality for each image"}
         sync-quality {:task sync-quality/-main
                                    :doc "Update Quality for each image"}
         sync-tags {:task sync-tags/-main 
                                 :doc "Update Tags that do not match"}
         eagle-export-tags {:task eagle-export-tags/-main 
                            :doc "Export csv file for bulk tag updates"}
         export-bot-database {:task sql-bot/-main
                              :doc "Export bot database"}
         all {:task (do
                      (run 'build)
                      (run 'static-site)) 
              :doc "Build and deploy static site"}}}

