{{ define "main" }}
<section class="container mx-auto">
    <div class="flex justify-center">
        <div
                class="max-w-2xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

            {{ $signpage := printf "/%s/%s" "sign" .Params.imageid }}
            {{ $imageid := .Params.imageid }}
            {{ $dimClass := "is-3by4" }}
            {{ if gt .Params.imageHeight .Params.imageWidth }} {{ $dimClass = "is-3by4" }}  {{ else }} {{ $dimClass = "is-4by3" }}  {{ end }}
            {{ $title := .Title }}
            {{with .GetPage $signpage}}
            <a href="/sign/{{ .Params.imageid}}">
                <img class="h-auto max-w-full mx-auto"
                     data-src="{{site.Params.SIGNBASEURL}}{{ $imageid}}/{{ $imageid}}_l.jpg"
                     src="{{site.Params.SIGNBASEURL}}{{ $imageid}}/{{ $imageid}}_l.jpg"
                     alt="{{ .Title }}" style="opacity: 1; transition: opacity 0.15s linear 0s;"></a>
            {{ end }}

            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ .Title}}</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ .Content }}</p>
                {{ with .Params.date}}
                <p class="mb-3 font-normal text-xs  text-gray-700 dark:text-gray-400">Taken {{ .Format "01-02-2006"}}</p>
                {{ end }}
            </div>
            <div class="p-5">
                {{ with .Params.point }}
                <img
                        src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/geojson(%7B%22type%22%3A%22Point%22%2C%22coordinates%22%3A%5B{{.longitude}}%2C{{.latitude}}%20%5D%7D)/{{.longitude}},{{.latitude}},11/1024x200?access_token=pk.eyJ1Ijoic2FnZWJydXNoZ2lzIiwiYSI6ImNqZnQxMjdodDA0Y28zNHB0OXpvNnMyYjQifQ.ut3IkXblOzLoHDYQzymKhQ">
                {{ end }}
                <div class="gap-8 sm:grid sm:grid-cols-2">
                    <div id="w3wbody" class="p-0 text-xs text-gray-700 dark:text-gray-400  justify-self-start"></div>
                    {{ with .Params.point }}
                    {{$latitude := .latitude }}
                    {{$longitude := .longitude }}
                    {{ $nearbyPage := printf "/%s" "nearby"  }}
                    {{ with $.Site.GetPage $nearbyPage}}
                    {{$link := printf "$s?lat=%v&lng=%v" .RelPermalink $latitude $longitude}}
                    <div class="underline hover:no-underline text-xs justify-self-end text-gray-700 dark:text-gray-400 ">
                            <a href="{{.RelPermalink}}?lat={{$latitude}}&lng={{$longitude}}">Nearby Signs</a>
                            </div>
                    {{end}}
                    {{end}}
                </div>
            </div>
            {{ with .Params.tags }}
            <div class="flex flex-wrap">
                <div class="p-5">
                    {{ range . }}
                    {{ $tagName := . }}
                    {{ $path := printf "/%s/%s" "tags" $tagName }}
                    {{ with $.Site.GetPage $path }}
                    {{ $tagDisplay := index  $.Site.Data.tags $tagName }}
                    <a href="{{.RelPermalink}}">
                        <span
                                class="bg-gray-100 text-gray-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500">{{ $tagDisplay }}</span>
                    </a>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
                    {{ end }}
            <div class="flex flex-wrap">
                <div class="p-5">
                    {{ partial "widgets/shieldlist.html" . }}

                    <svg class="inline w-4 h-4 text-gray-800 dark:text-white" xmlns="http://www.w3.org/2000/svg"
                         fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                    </svg>
                    {{ partial "widgets/locationlist.html" . }}
                </div>
            </div>

        </div>
    </div>
</section>
<section class="container mx-auto">

    <div class="mx-auto max-w-xl p-2">
        <h4 class="text-xl font-bold dark:text-white text-center">Next Sign</h4>
        {{ with .Params.featureid }}
        {{ $name := . }}
        {{ $path := printf "/%s/%v" "feature" $name }}
        {{ with $.Site.GetPage $path }}
            {{ partial "feature/embed.html" . }}
        {{ end }}
        {{ end }}
    </div>
</section>

{{ end }}

{{ define "footer" }}

<script>
{{$apiKey := .Site.Params.W3WAPIKEY}}
{{ with .Params.point }}

(function(lat, lng, apiKey) {
    fetch("https://api.what3words.com/v3/convert-to-3wa?key=" + apiKey + "&coordinates=" + lat + "%2C" + lng + "&language=en&format=json")
        .then(f=>f.json())
        .then(f=> {
            var words = f.words;
            var place = f.nearestPlace;
            var link = f.map;
            var node = '<span style="color: #E11F26;">///</span><a class="p-0 text-xs text-gray-700 dark:text-gray-400 underline hover:no-underline font-medium" href="' + link +  '">' + words + '</a> Near ' + place;
            document.getElementById('w3wbody').innerHTML = node;
        });
})( "{{.latitude}}", "{{.longitude}}", "{{$apiKey}}" );
{{ end }}
</script>
{{ end }}