<div class="card sign-card">
    <header class="card-header">
        <p class="card-header-title">{{ .Title}}</p>
    </header>

    <div class="card-image">
        <figure class="image {{ if gt .Params.imageHeight .Params.imageWidth }}  is-3by4  {{ else }} is-4by3 {{ end }}  "><a href="/sign/{{ .Params.imageid}}">
                <img src="https://sign.sagebrushgis.com/{{ .Params.imageid}}/{{ .Params.imageid}}_l.jpg"
                    alt="{{ .Title }}" style="opacity: 1; transition: opacity 0.15s linear 0s;"></a></figure>
    </div>
    <div class="card-content">
        <div class="content">{{ .Content }}</div>
    </div>
    <nav class="card-footer level">
        <div class="level-left">
            <div class="level-item">
                        {{ partial "widgets/shieldlist.html" . }}
                        <span class="fa fa-map-marker-alt fa-w-12"></span>
                        {{ partial "widgets/locationlist.html" . }}
               </div>
        </div>
    </nav>
</div>