{{ $dimClass := "" }}
{{ if gt .Params.imageHeight .Params.imageWidth }} {{ $dimClass = "is-3by4" }}  {{ else }} {{ $dimClass = "is-4by3" }}  {{ end }}

<div class="column is-one-quarter">
    <div class="card">
        <div class="card-image">
            <figure class="image {{$dimClass}}">
                <a href="{{.RelPermalink}}">
                    <img loading="lazy"  src="{{site.Params.SIGN_BASE_URL}}{{ .Params.imageid}}/{{ .Params.imageid}}_s.jpg" alt="{{.Params.title}}">
                </a>
            </figure>
        </div>
        <div class="card-content">
            <div class="content">
                <h4 class="is-title">{{.Params.title}}</h4>
                <p>{{.Content}}</p>
            </div>
        </div>
    </div>
</div>