{{ define "main" }}
{{ $stateSlug := .Params.state.slug }}
{{ $statePath := printf "/%s/%s" "state" $stateSlug}}

{{ $state := $.Site.GetPage $statePath }}
{{ $countryPath := printf "/%s/%s" "country" .Params.country.slug }}
{{ $country := $.Site.GetPage $countryPath }}

{{ $adjFeats := newScratch }}
{{ $adjFeats.Set "N" (slice) }}
{{ $adjFeats.Set "NE" (slice) }}
{{ $adjFeats.Set "E" (slice) }}
{{ $adjFeats.Set "SE" (slice) }}
{{ $adjFeats.Set "S" (slice) }}
{{ $adjFeats.Set "SW" (slice) }}
{{ $adjFeats.Set "W" (slice) }}
{{ $adjFeats.Set "NW" (slice) }}

{{ $highways := slice }}
{{ range .Params.next }}
{{ if .bearing }}
{{ $adjFeats.Add .bearing (slice . ) }}
{{ end }}
{{ range .highways }}
{{ $highways = $highways | append  . }}
{{ end }}
{{ end }}
{{ range .Params.prev }}
{{ if .bearing }}
{{ $adjFeats.Add .bearing (slice . ) }}
{{ end }}
{{ range .highways }}
{{ $highways = $highways | append  . }}
{{ end }}
{{ end }}
<section class="container mx-auto">
    <!-- Breadcrumb -->
    <nav class="flex pb-5" aria-label="Breadcrumb">
        <ol class="inline-flex  items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
                <a href="/"
                   class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                    <svg class="w-3 h-3 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                         fill="currentColor" viewBox="0 0 20 20">
                        <path
                                d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                    </svg>
                    Home
                </a>
            </li>
            <li>
                <div class="flex items-center">
                    <svg class="w-3 h-3 mx-1 text-gray-400" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2" d="m1 9 4-4-4-4" />
                    </svg>
                    <a href="{{$country.RelPermalink}}"
                       class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">{{$country.Params.name}}</a>
                </div>
            </li>
            <li>
                <div class="flex items-center">
                    <svg class="w-3 h-3 mx-1 text-gray-400" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2" d="m1 9 4-4-4-4" />
                    </svg>
                    <a href="{{$state.RelPermalink}}"
                       class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">{{$state.Params.name}}</a>
                </div>
            </li>
            {{ if $highways }}
            <li>
                <div class="flex items-center">
                    <svg class="w-3 h-3 mx-1 text-gray-400" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2" d="m1 9 4-4-4-4" />
                    </svg>
                {{ range sort (uniq $highways) }}
                {{ $hwypath := printf "/%s/%v" "highway" .  }}
                {{ with $.Site.GetPage $hwypath }}
                <a class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white" href="{{.RelPermalink}}">
                    <img class="inline"  onerror="this.onerror=null; this.remove();" src="{{site.Params.SHIELDBASEURL}}Shields/20x/{{ .Params.imageName }}" alt="{{ .Params.name }}" />
                </a>
                {{ end }}
                {{ end }}
                </div>
            </li>
            {{ end }}
            <li aria-current="page">
                <div class="flex items-center">
                    <svg class="w-3 h-3 mx-1 text-gray-400" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2" d="m1 9 4-4-4-4" />
                    </svg>
                    <span
                            class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">{{.Params.name}}</span>
                </div>
            </li>
        </ol>
    </nav>

    {{ template "partials/widgets/pagetitle.html" .Params.name }}
    {{ $featureId := .Params.id }}
    <div class="grid grid-cols-2">
        <div class="justify-self-start text-gray-900 dark:text-white">
            {{ range $adjFeats.Get "NW"}}
            {{ partial "feature/item.html" (dict "ctx" . "featureid" $featureId) }}
            {{ end }}
            {{ range $adjFeats.Get "W"}}
            {{ partial "feature/item.html" (dict "ctx" . "featureid" $featureId) }}
            {{ end }}
            {{ range $adjFeats.Get "SW"}}
            {{ partial "feature/item.html" (dict "ctx" . "featureid" $featureId) }}
            {{ end }}
            {{ range $adjFeats.Get "S"}}
            {{ partial "feature/item.html" (dict "ctx" . "featureid" $featureId) }}
            {{ end }}
        </div>
        <div class="justify-self-end text-gray-900 dark:text-white">
            {{ range $adjFeats.Get "N"}}
            {{ partial "feature/item.html" (dict "ctx" . "featureid" $featureId) }}
            {{ end }}
            {{ range $adjFeats.Get "NE"}}
            {{ partial "feature/item.html" (dict "ctx" . "featureid" $featureId) }}
            {{ end }}
            {{ range $adjFeats.Get "E"}}
            {{ partial "feature/item.html" (dict "ctx" . "featureid" $featureId) }}
            {{ end }}
            {{ range $adjFeats.Get "SE"}}
            {{ partial "feature/item.html" (dict "ctx" . "featureid" $featureId) }}
            {{ end }}
        </div>
    </div>


    <div class="grid grid-cols-2 lg:grid-cols-4 gap-4">
        {{ range .Params.signs }}
        {{ $signId := . }}
        {{ $signpath := printf "/%s/%s" "sign" $signId}}
        {{ with $.Site.GetPage $signpath }}
        {{ partial "sign/tile.html" . }}
        {{ end }}
        {{ end }}
    </div>
</section>

{{ end }}