{{ define "main" }}
{{ $stateSlug := .Params.state.slug }}
{{ $statePath := printf "/%s/%s" "state" $stateSlug}}

{{ $state := $.Site.GetPage $statePath }}
{{ $countryPath := printf "/%s/%s" "country" .Params.country.slug }}
{{ $country := $.Site.GetPage $countryPath }}

{{ $highways := slice }}
{{ range .Params.next }}
{{ range .highways }}
{{ $highways = $highways | append  . }}
{{ end }}
{{ end }}
{{ range .Params.prev }}
{{ range .highways }}
{{ $highways = $highways | append  . }}
{{ end }}
{{ end }}


<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="{{$country.RelPermalink}}">{{$country.Params.name}}</a></li>
        <li><a href="{{$state.RelPermalink}}">{{$state.Params.name}}</a></li>
        {{ if $highways }}
        <li>
            {{ range sort (uniq $highways) }}
            {{ $hwypath := printf "/%s/%v" "highway" .  }}
            {{ with $.Site.GetPage $hwypath }}
            <a href="{{.RelPermalink}}">
                <img class="shield-padding" src="{{site.Params.SHIELD_BASE_URL}}Shields/20x/{{ .Params.imageName }}" alt="{{ .Params.name }}" />
            </a>
            {{ end }}
            {{ end }}
        </li>
        {{ end }}
        <li class="is-active"><a href="#" aria-current="page">{{.Params.name}}</a></li>
    </ul>
</nav>
<div class="columns ">
    <div class="column is-centered is-full">
        <h1 class="title">{{ .Params.name}}</h1>
    </div>
</div>
<div class="columns is-centered">
    <div class="column is-one-third">
    {{ with .Params.prev}}
    {{ range . }}
        <div>
        {{ $slug := .fromfeatureid }}
        {{ $path := printf "/%s/%v" "feature" $slug  }}
            <i class="fa-solid fa-arrow-left"></i>
        {{ with .roadname }}
        {{ . }}
        {{ end }}
        {{ range .highways }}
            {{ $hwypath := printf "/%s/%v" "highway" .  }}
            {{ with $.Site.GetPage $hwypath }}
            <a href="{{.RelPermalink}}">
            <img class="shield-padding" src="{{site.Params.SHIELD_BASE_URL}}Shields/20x/{{ .Params.imageName }}" alt="{{ .Params.name }}" />
            </a>
                {{ end }}
        {{ end }}
        {{ with $.Site.GetPage $path }}
        <a href="{{.RelPermalink}}">{{.Params.name}}</a>
        {{ end }}
    </div>
    {{ end }}
    {{ end }}
    </div>
    <div class="column is-offset-one-third is-one-third" >
    {{ with .Params.next}}
    {{ range . }}
    <div>
    {{ $slug := .tofeatureid }}
    {{ $path := printf "/%s/%v" "feature" $slug  }}
    {{ with .roadname }}
    {{ . }}
    {{ end }}
    {{ range .highways }}
        {{ $hwypath := printf "/%s/%v" "highway" .  }}
        {{ with $.Site.GetPage $hwypath }}
        <a href="{{.RelPermalink}}">
        <img onerror="this.onerror=null; this.remove();" class="shield-padding" src="{{site.Params.SHIELD_BASE_URL}}Shields/20x/{{ .Params.imageName }}" alt="{{ .Params.name }}" />
        </a>
            {{ end }}
        {{ end }}
    {{ with $.Site.GetPage $path }}
    <a href="{{.RelPermalink}}">{{.Params.name}}</a>
    <i class="fa-solid fa-arrow-right"></i>
    {{ end }}
    </div>
    {{ end }}
    {{ end }}
    </div>
</div>
<div class="columns is-centered is-multiline">
    {{ range .Params.signs }}
    {{ $signId := . }}
    {{ $signpath := printf "/%s/%s" "sign" $signId}}
    {{ with $.Site.GetPage $signpath }}
    {{.Render "tile" }}
    {{ end }}
    {{ end }}
</div>
{{ end }}