        {{ $link := .RelPermalink }}
        {{ $featureName := .Params.name }}
        {{ with .Params.signs }}

        {{ $sign := index (first 1 . ) 0 }}
        {{ $signCount := len . }}

        {{ $signpage := printf "/%s/%s" "sign" $sign }}
        {{ with $.Site.GetPage $signpage}}
        <div class="column is-one-quarter">
            <div class="card">
              <div class="card-image">
                <figure class="image {{ if gt .Params.imageHeight .Params.imageWidth }}  is-3by4  {{ else }} is-4by3 {{ end }}">
                  <a id="{{.Params.id}}" href="{{$link}}">
                  <img src="https://sign.sagebrushgis.com/{{  .Params.imageid}}/{{  .Params.imageid}}_s.jpg" alt="{{.Params.title}}" >
                  </a>
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  <h4 class="is-title">{{$featureName}}</h4>
                  <p>{{$signCount}} {{ if eq $signCount 1 }} sign {{ else }} signs {{end}}</p>
                </div>
              </div>
            </div>
          </div>
        {{ end }}
        {{ end }}