{{ $usPath := printf "/%s/%s" "country" "united-states" }}
{{ $usPage := $.Site.GetPage $usPath }}

{{ $canadaPath := printf "/%s/%s" "country" "canada" }}
{{ $canadaPage := $.Site.GetPage $canadaPath }}

{{ $mexicoPath :=  printf "/%s/%s" "country" "mexico" }}
{{ $mexicoPage := $.Site.GetPage $mexicoPath }}

{{ $costaRicaPath :=  printf "/%s/%s" "country" "costa-rica" }}
{{ $costaRicaPage := $.Site.GetPage $costaRicaPath }}

{{ $tabActive := "inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500" }}
{{ $tabDefault := "inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" }}

<div
        class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
    <ul class="flex flex-wrap -mb-px">
        <li class="mr-2">
            <a {{ if ne .Params.slug $usPage.Params.slug }} href="{{ $usPage.RelPermalink }}" {{ else }} href="#" {{ end
               }} {{ if eq .Params.slug $usPage.Params.slug }} class="{{$tabActive}}" aria-current="page" {{ else }}
               class="{{$tabDefault}}" {{ end }}>
                United States

                <span
                        class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">
                            {{len $usPage.Pages}}
                        </span>
            </a>
        </li>
        <li class="mr-2">
            <a {{ if ne .Params.slug $canadaPage.Params.slug }} href="{{ $canadaPage.RelPermalink }}" {{ else }}
               href="#" {{ end }}
               {{ if eq .Params.slug $canadaPage.Params.slug }} class="{{$tabActive}}" aria-current="page" {{ else }}
               class="{{$tabDefault}}" {{ end }}>
                Canada

                <span
                        class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">
                            {{len $canadaPage.Pages}}
                        </span>

            </a>
        </li>
        <li class="mr-2">
            <a {{ if ne .Params.slug $costaRicaPage.Params.slug }} href="{{ $costaRicaPage.RelPermalink }}" {{ else }}
               href="#" {{ end }}
               {{ if eq .Params.slug $costaRicaPage.Params.slug }} class="{{$tabActive}}" aria-current="page" {{ else }}
               class="{{$tabDefault}}" {{ end }}>
                Costa Rica
                <span
                        class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">
                            {{len $costaRicaPage.Pages}}
                        </span>

            </a>
        </li>
        <li class="mr-2">
            <a {{ if ne .Params.slug $mexicoPage.Params.slug }} href="{{ $mexicoPage.RelPermalink }}" {{ else }}
               href="#" {{ end }} {{ if eq .Params.slug $mexicoPage.Params.slug }} class="{{$tabActive}}"
               aria-current="page" {{ else }} class="{{$tabDefault}}" {{ end }}>
                México
                <span
                        class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">
                            {{len $mexicoPage.Pages}}
                        </span>
            </a>
        </li>
    </ul>
</div>


{{ $pageCount := len .Pages }}


{{ if le $pageCount 10 }}
{{ partial "country/all.html" .  }}
{{ else }}
{{ $browseSubTitle := printf "Browse By %s" .Params.subdivisionname }}
{{ template "partials/widgets/pagetitle.html"(dict "text" $browseSubTitle "test" "browse-by-state-title")   }}
<div data-cy="states-container" class="grid grid-cols-2 lg:grid-cols-4 gap-4">
    {{ with .Params.states }}
    {{ range sort . "name" "asc" }}
    {{ $name := .slug }}
    {{ $statePath := printf "/%s/%s" "state" $name }}
    {{ with $.Site.GetPage $statePath }}
    {{ if .Params.featured }}
    <a data-cy="state-link-{{.Params.Slug}}" href="{{.RelPermalink}}">
    <div
            class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

            <img class="rounded-t-lg" loading="lazy"
                 src="{{site.Params.SIGNBASEURL}}{{.Params.featured}}/{{.Params.featured}}_m.jpg">
        <div class="p-2 md:p-5">
            <p class="mb-2 text-lg md:text-xl font-bold tracking-tight text-gray-900 dark:text-white">{{.Params.name}}
                <span
                        class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">{{.Params.imageCount}}</span>
            </p>
        </div>
    </div>
    </a>

    {{ else }}
    {{.Params.name}}
    {{ end }}
    {{ end }}
    {{ end }}
    {{ end }}
</div>
<hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">

{{ $browseHwyTitle := "Browse By Highway" }}
{{ template "partials/widgets/pagetitle.html" (dict "text" $browseHwyTitle "test" "browse-by-highway-title") }}
<div data-cy="highways-container" class="grid grid-cols-2 lg:grid-cols-4 gap-4">
    {{ with .Params.highwayTypes }}
    {{ range sort . "name" "asc" }}
    {{ $name := .slug }}
    {{ $hwyTypePath := printf "/%s/%s" "highwaytype" $name }}
    {{ with $.Site.GetPage $hwyTypePath }}
    <a data-cy="highway-link-{{.Params.Slug}}" href="{{.RelPermalink}}">

    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <img  class="rounded-t-lg" loading="lazy" src="{{site.Params.SIGNBASEURL}}{{.Params.featured}}/{{.Params.featured}}_m.jpg">
        <div class="p-2 md:p-5">
        <p class="mb-2 text-lg md:text-xl font-bold tracking-tight text-gray-900 dark:text-white">{{.Params.name}}
            <span
                    class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">{{.Params.imageCount}}</span>
        </p>
        </div>
    </div>
    </a>
    {{ end }}
    {{ end }}
    {{ end }}
    {{ end }}
</div>