<!DOCTYPE html>
<html class="has-navbar-fixed-top" lang="en">

<head>
    {{- partial "head.html" . -}}
    {{- block "header" . }}{{- end }}
</head>

<body>
    {{- partial "header.html" . -}}
    <div class="container wrapper">
        {{- block "main" . }}{{- end }}
    </div>
    {{- partial "footer.html" . -}}
    {{- block "footer" . }}{{- end }}
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                {{ $recent := printf "/recent/%s" (.Site.Data.images.mostRecent | time.Format "2006-01") }}
                {{ $page := $.Site.GetPage $recent }}
                <strong>roadsign.pictures</strong> |
                Last Updated
                {{ if $page }}
                <a href="{{$page.RelPermalink}}">{{.Site.Data.images.mostRecent | time.Format ":date_long"}}</a>
                {{ else }}
                {{.Site.Data.images.mostRecent | time.Format ":date_long"}}
                {{ end }} |
                {{.Site.Data.images.imageCount}} Total Signs
        </div>
    </footer>
</body>

</html>