<!DOCTYPE html>
<html lang="en">

<head>
    {{- partial "head.html" . -}}
    {{- block "header" . }}{{- end }}
</head>

<body class="bg-white dark:bg-black">
    {{- partial "header.html" . -}}
    {{- block "main" . }}{{- end }}
    {{- partial "footer.html" . -}}
    {{- block "footer" . }}{{- end }}
    <footer class="p-4 bg-white md:p-8 lg:p-10 dark:bg-gray-800 mt-4">
        {{ $recent := printf "/recent/%s" (.Site.Data.images.mostRecent | time.Format "2006-01") }}
        {{ $page := $.Site.GetPage $recent }}
        {{ $aboutPage := $.Site.GetPage "/about" }}
        <div class="mx-auto max-w-screen-xl text-center">
            <a href="#" class="flex justify-center items-center text-2xl font-semibold text-gray-900 dark:text-white">
                <img class="mr-2 h-8" src="/images/manifest192.png" />
                roadsign.pictures
            </a>
            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">Last Updated
                                {{ $recent := printf "/recent/%s" (.Site.Data.images.mostRecent | time.Format "2006-01") }}

                                {{ if $page }}
                <a class="hover:underline" href="{{$page.RelPermalink}}">{{.Site.Data.images.mostRecent | time.Format ":date_long"}}
                {{ else }}
                {{.Site.Data.images.mostRecent | time.Format ":date_long"}}
                {{ end }}
       </a> | v{{.Site.Params.VERSION}} | {{.Site.Data.images.imageCount}} Signs</span>


            <ul class="flex flex-wrap justify-center items-center mb-6 text-gray-900 dark:text-white">
                <li>
                    {{ $statesPagePath := printf "/%s" "state" }}
                    {{ $statePage := $.Site.GetPage $statesPagePath }}
                    <a href="{{$statePage.RelPermalink}}" class="mr-4 hover:underline md:mr-6 ">States</a>
                </li>
                <li>
                    {{ $hwyPagePath := printf "/%s" "highwaytype" }}
                    {{ $hwyPage := $.Site.GetPage $hwyPagePath }}
                    <a href="{{$hwyPage.RelPermalink}}" class="mr-4 hover:underline md:mr-6 ">Highways</a>
                </li>
                <li>
                    {{ $tagPath := printf "/%s" "tags" }}
                    {{ $tagPage := $.Site.GetPage $tagPath }}
                    <a href="{{$tagPage.RelPermalink}}" class="mr-4 hover:underline md:mr-6">Tags</a>
                </li>
                <li>
                    {{ $aboutPagePath := printf "/%s" "about" }}
                    {{ $aboutPage := $.Site.GetPage $aboutPagePath }}
                    <a href="{{$aboutPage.RelPermalink}}" class="mr-4 hover:underline md:mr-6 ">About</a>
                </li>
            </ul>
        </div>

    </footer>
    {{ $flowbite := resources.Get "js/flowbite/flowbite.js" }}
    <script src="{{$flowbite.RelPermalink}}" ></script>
</body>

</html>
