{{ define "main" }}



{{ $stateSlug := .Params.stateSlug }}
{{ $statePath := printf "/%s/%s" "state" $stateSlug}}
{{ $placeName := .Params.name }}
{{ with $.Site.GetPage $statePath }}
<h3 class="title is-3">{{$placeName}}, {{.Params.name}}</h3>
{{ end }}

<div class="columns is-centered is-multiline">
{{ range .Page.Pages }}
{{ $signId := .Params.imageid}}
{{ $signpath := printf "/%s/%s" "sign" $signId}}
{{ with $.Site.GetPage $signpath }}
{{.Render "tile" }}
{{ end }}
{{ end }}
</div>

{{ end }}