{{ define "main" }}




{{ $stateSlug := .Params.stateSlug }}
{{ $statePath := printf "/%s/%s" "state" $stateSlug}}
{{ $placeName := .Params.name }}

{{ $state := $.Site.GetPage $statePath }}
{{ $countryPath := printf "/%s/%s" "country" $state.Params.countryslug }}
{{ $country := $.Site.GetPage $countryPath }}
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="{{$country.RelPermalink}}">{{$country.Params.name}}</a></li>
        <li><a href="{{$state.RelPermalink}}">{{$state.Params.name}}</a></li>
        <li class="is-active"><a href="#" aria-current="page">{{.Params.name}}</a></li>
    </ul>
</nav>

{{ with $state }}
<h3 class="title is-3">{{$placeName}}, {{.Params.name}}</h3>
{{ end }}

<div class="columns is-centered is-multiline">
{{ range .Page.Pages }}
{{ $signId := .Params.imageid}}
{{ $signpath := printf "/%s/%s" "sign" $signId}}
{{ with $.Site.GetPage $signpath }}
{{.Render "tile" }}
{{ end }}
{{ end }}
</div>

{{ end }}