{{ define "main" }}




{{ $stateSlug := .Params.stateSlug }}
{{ $statePath := printf "/%s/%s" "state" $stateSlug}}
{{ $placeName := .Params.name }}

{{ $state := $.Site.GetPage $statePath }}
{{ $countryPath := printf "/%s/%s" "country" $state.Params.countryslug }}
{{ $country := $.Site.GetPage $countryPath }}
<nav class="breadcrumb" aria-label="breadcrumbs"  data-test="breadcrumb">
    <ul>
        <li data-test="breadcrumb-home"><a href="/">Home</a></li>
        <li data-test="breadcrumb-country"><a href="{{$country.RelPermalink}}">{{$country.Params.name}}</a></li>
        <li data-test="breadcrumb-state"><a href="{{$state.RelPermalink}}">{{$state.Params.name}}</a></li>
        <li data-test="breadcrumb-place" class="is-active"><a href="#" aria-current="page">{{.Params.name}}</a></li>
    </ul>
</nav>

{{ with $state }}
<h3 data-test="place-title" class="title is-3">{{$placeName}}, {{.Params.name}}</h3>
{{ end }}

<div class="columns is-centered is-multiline">
{{ range .Page.Pages }}
{{ $signId := .Params.imageid}}
{{ $signpath := printf "/%s/%s" "sign" $signId}}
{{ with $.Site.GetPage $signpath }}
{{ partial "sign/tile.html" .  }}
{{ end }}
{{ end }}
</div>

<span class="icon is-small">
                <i class="fa fa-random"></i>
            </span>
<a href="https://random.roadsign.pictures/place/{{$stateSlug}}/{{.Params.slug}}">Show Random Sign From {{$placeName}}</a>


{{ end }}