@import 'tailwindcss';

@plugin 'flowbite/plugin';
@plugin '@tailwindcss/typography';

@source '../../node_modules/flowbite/**/*.js';

@custom-variant dark (@media (prefers-color-scheme: dark));

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

ul.browse-flat-list li:first-child a:before { content: ''; }


/* about page */
.about-content {
    @apply mb-3 font-normal text-gray-700 dark:text-gray-400;
}
.about-content a {
    @apply font-medium text-blue-600 dark:text-blue-500 hover:underline;
}

.about-content h1 {
    @apply mb-2 text-xl font-bold text-gray-900 dark:text-white;
}

.about-content h2 {
    @apply mb-2 text-lg font-semibold text-gray-900 dark:text-white;
}


.about-content ol {
    @apply space-y-4 text-gray-500 list-decimal list-inside dark:text-gray-400;
}

@media (prefers-color-scheme: dark) {
    .result-item {
        background-color: #475569 !important;
    }
}
[style*="--lqip:"] {
    --lqip-c: var(--lqip);
}

[style*="--lqip:"],
[data-lqip] {
    /*
     * |      RR       |      GG       |      BB       |      AA       |
     * |0 0 0 0 0 0 0 0|0 0 0 0 0 0 0 0|0 0 0 0 0 0 0 0|0 0 0 0 0 0 0 0|
     * |R R R R G G G G|B B B R R R R G|G G G B B B R R|R G G G G B B B|
     * |- - - - = = = = - - -|= = = = - - - - = = =|- - - = = = = - - -|
     * |       color 0       |       color 1       |      color 2      |
     * |       11-bit        |       11-bit        |      10-bit       |
     */
    --lqip-c0: color(
            from var(--lqip-c)
            srgb
            calc(round(down, r * 255 / pow(2,4)) / 15)
            calc(mod(round(down, r * 255), pow(2,4)) / 15)
            calc(round(down, g * 255 / pow(2,5)) / 7)
		/ 1
    );

    --lqip-c1: color(
            from var(--lqip-c)
            srgb
            calc(mod(round(down, g * 255 / 2), pow(2,4)) / 15)
            calc(((mod(round(down, g * 255), 2) * pow(2,3)) + (round(down, b * 255 / pow(2,5)))) / 15)
            calc(mod(round(down, b * 255 / pow(2,2)), pow(2,3)) / 7)
		/ 1
    );

    --lqip-c2: color(
            from var(--lqip-c)
            srgb
            calc((((mod(round(down, b * 255), pow(2,2)) * 2)) + round(down, alpha * 255 / pow(2,7))) / 7)
            calc(mod(round(down, alpha * 255 / pow(2,3)), pow(2,4)) / 15)
            calc(mod(round(down, alpha * 255), pow(2,3)) / 7)
		/ 1
    );

    background:
            radial-gradient(
                    150% 75% at 80% 100%,
                    var(--lqip-c2),
                    rgb(from var(--lqip-c2) r g b / 98%) 10%,
                    rgb(from var(--lqip-c2) r g b / 92%) 20%,
                    rgb(from var(--lqip-c2) r g b / 82%) 30%,
                    rgb(from var(--lqip-c2) r g b / 68%) 40%,
                    rgb(from var(--lqip-c2) r g b / 32%) 60%,
                    rgb(from var(--lqip-c2) r g b / 18%) 70%,
                    rgb(from var(--lqip-c2) r g b / 8%) 80%,
                    rgb(from var(--lqip-c2) r g b / 2%) 90%,
                    transparent
            ),
            radial-gradient(
                    100% 75% at 40% 50%,
                    var(--lqip-c1),
                    rgb(from var(--lqip-c1) r g b / 98%) 10%,
                    rgb(from var(--lqip-c1) r g b / 92%) 20%,
                    rgb(from var(--lqip-c1) r g b / 82%) 30%,
                    rgb(from var(--lqip-c1) r g b / 68%) 40%,
                    rgb(from var(--lqip-c1) r g b / 32%) 60%,
                    rgb(from var(--lqip-c1) r g b / 18%) 70%,
                    rgb(from var(--lqip-c1) r g b / 8%) 80%,
                    rgb(from var(--lqip-c1) r g b / 2%) 90%,
                    transparent
            ),
            var(--lqip-c0);
}
