{{ define "main"}}

{{- /* Build Up Date Ranges For Tag Quick Links */ -}}
{{ $pageSize := 25 }}
{{ $s := newScratch }}
{{ $trackDates := slice }}
{{ $pages := .Pages.ByDate.Reverse }}
{{ $allPages := seq 1 (.Paginate $pages $pageSize).TotalPages }}
{{ range $allPages }}
{{ $curPage := . }}

{{ $tagDate := dateFormat "2006" (index $pages (mul (sub $curPage 1) $pageSize)).Params.Date }}

{{ if not (in $trackDates $tagDate) }}
{{ $trackDates = $trackDates | append $tagDate }}
{{ $s.Set $tagDate $curPage }}
{{ end }}

{{ end }}
{{ $tagPage := index (where $.Site.Data.tags "slug" (strings.ToLower .Title)) 0 }}
<section class="container mx-auto">
    <!-- Breadcrumb -->
    <nav class="flex pb-5" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
                <a href="/"
                   class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                    <svg class="w-3 h-3 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                         fill="currentColor" viewBox="0 0 20 20">
                        <path
                                d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                    </svg>
                    Home
                </a>
            </li>
            <li>
                <div class="flex items-center">
                    <svg class="w-3 h-3 mx-1 text-gray-400" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2" d="m1 9 4-4-4-4" />
                    </svg>
                    <a href="/tags"
                       class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">Tags</a>
                </div>
            </li>
            <li aria-current="page">
                <div class="flex items-center">
                    <svg class="w-3 h-3 mx-1 text-gray-400" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2" d="m1 9 4-4-4-4" />
                    </svg>
                    <span
                            class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">{{$tagPage.name}}</span>
                </div>
            </li>
        </ol>
    </nav>
    {{ $title := printf "Signs Tagged With %s" $tagPage.name }}
    {{ template "partials/widgets/pagetitle.html" $title }}
        {{ range .Paginator.Pages }}
        {{ partial "sign/summary.html" .  }}
        {{ end }}


    {{ if gt .Paginator.TotalPages 2 }}
    <div class="flex justify-center pb-3">
    <div class="max-w-2xl p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <h4 class="text-2xl font-bold dark:text-white">Jump To Year</h4>
        <ul class="flex flex-wrap items-center justify-center text-gray-900 dark:text-white">
            {{ range $trackDates }}
            <li class="">
                <a class="me-2 md:me-4 font-medium text-blue-600 dark:text-blue-500 hover:underline" href="{{ (index $.Paginator.Pagers ($s.Get . )).URL }}">{{ . }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
    </div>
    {{ end }}

    {{ template "partials/widgets/pagination.html" . }}
</section>
{{ end }}