{{ define "main" }}
<div class="columns">
<div class="column is-one-fifth is-mobile">
<div class="tile is-ancestor">
<div class="tile is-vertical is-parent">
<div class="tile is-child">
<p class="menu-label">Filter by Date</p>
<ul class="menu-list">
{{ range site.Taxonomies.recent.Alphabetical.Reverse }}
{{ $fixedDate := printf "%s-%s" .Term "01" }}
<a href="{{.Page.RelPermalink}}">
<li class="is-size-6">{{time.Format "January 2006"  $fixedDate}}<span class="is-size-7 tag is-rounded"> {{len .Pages }}</span></li>
</a>
{{ end }}
</ul>
</div>
</div>
</div>
</div>
<div class="column is-four-fifths">
{{ $fixedDate := printf "%s-%s" .Page.Title "01" }}
<h3 class="title is-3">Signs Taken {{time.Format "January 2006"  $fixedDate}}</h3>

<div class="columns is-centered is-multiline">
{{ range .Pages }}
{{.Render "tile"}}
{{ end }}
</div>
</div>
{{ end }}