<a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
</a>

<nav class="navbar" role="navigation" aria-label="main naviation">
    <div class="navbar-brand"><a class="navbar-item" href="/"><img
                src="https://roadsign.pictures/images/manifest192.png" alt="Logo"></a></div>
                <div class="navbar-menu">
                    <div class="navbar-start">
                        <a href="/" class="navbar-item">
                            <i class="fa fa-home fa-w-18 fa-fw"></i>
                            Home
                        </a>
                        <a href="http://localhost:8080/random" class="navbar-item">
                            <i class="fa fa-random fa-w-18 fa-fw"></i>
                            Random
                        </a>
                        <a class="navbar-item" href="/nearby">
                            <i class="fa fa-location-dot fa-w-18 fa-fw"></i>
                            Location
                        </a>
                        <a href="/recent" class="navbar-item">
                            <i class="fa fa-clock fa-w-18 fa-fw"></i>
                            Recent
                            </a>
                        <a href="/search" class="navbar-item">
                            <i class="fa fa-magnifying-glass fa-w-18 fa-fw"></i>
                            Search
                        </a>
                    </div>
                </div>
</nav>
