{{ define "main" }}
<section>
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-12">
                <h1 class="title has-text-centered">roadsign.pictures</h1>
                <h2 class="subtitle has-text-centered">A gallery of road sign photographs taken across North America
                </h2>
                <hr>

            </div>
</div>
</div>
</section>
<section>
    {{ $usPath := printf "/%s/%s" "country" "united-states" }}
    {{ $usPage := $.Site.GetPage $usPath }}

    {{ partial "country/tab.html" $usPage }}


</section>


{{ end }}