{{ define "main" }}
<section class="container mx-auto">
    <h1 class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl dark:text-white">roadsign.pictures</h1>
    <h2 class="mb-4 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">A gallery of road sign photographs taken across North America</h2>

    {{ $usPath := printf "/%s/%s" "country" "united-states" }}
    {{ $usPage := $.Site.GetPage $usPath }}

    {{ partial "country/tab.html" $usPage }}

</section>

{{ end }}