<div class="flex justify-center pb-3">
<div
        class="max-w-2xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

    {{ $signpage := printf "/%s/%s" "sign" .Params.imageid }}
    {{ $imageid := .Params.imageid }}
    {{ $dimClass := "is-3by4" }}
    {{ if gt .Params.imageHeight .Params.imageWidth }} {{ $dimClass = "is-3by4" }}  {{ else }} {{ $dimClass = "is-4by3" }}  {{ end }}
    {{ $title := .Title }}
    {{with .GetPage $signpage}}
    <a href="/sign/{{ .Params.imageid}}">
        <img class="h-auto max-w-full mx-auto"
             data-src="{{site.Params.SIGNBASEURL}}{{ $imageid}}/{{ $imageid}}_l.jpg"
             src="{{site.Params.SIGNBASEURL}}{{ $imageid}}/{{ $imageid}}_l.jpg"
             alt="{{ .Title }}" style="opacity: 1; transition: opacity 0.15s linear 0s;"></a>
    {{ end }}

    <div class="pt-5 pl-5 pr-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ .Title}}</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ .Content }}</p>
        {{ with .Params.date}}
        <p class="mb-3 font-normal text-xs  text-gray-700 dark:text-gray-400">Taken {{ .Format "01-02-2006"}}</p>
        {{ end }}
    </div>
    <div class="flex flex-wrap">
        <div class="p-5">
            {{ partial "widgets/shieldlist.html" . }}

            <svg class="w-4 h-4 inline text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 21">
                <g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                    <path d="M8 12a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                    <path d="M13.8 12.938h-.01a7 7 0 1 0-11.465.144h-.016l.141.17c.1.128.2.252.3.372L8 20l5.13-6.248c.193-.209.373-.429.54-.66l.13-.154Z"/>
                </g>
            </svg>
            {{ partial "widgets/locationlist.html" . }}
        </div>
    </div>

</div>
</div>