{{ $dimClass := "" }}
{{ if gt .Params.imageHeight .Params.imageWidth }} {{ $dimClass = "is-3by4" }}  {{ else }} {{ $dimClass = "is-4by3" }}  {{ end }}
<div
        class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a  href="{{.RelPermalink}}">
        <img class="rounded-t-lg" loading="lazy" src="{{site.Params.SIGNBASEURL}}{{  .Params.imageid}}/{{  .Params.imageid}}_m.jpg" alt="{{.Params.title}}" >
    </a>
    <div class="p-5">
        <p class="font-semibold text-lg text-gray-900 dark:text-white">{{.Params.title}}</p>
        <div class="prose text-base text-gray-900 dark:text-white">{{.Content}}</div>
    </div>
</div>
