{{ $hasProcessed := .Params.hasProcessed }}
{{ $prefix := "" }}
{{ if $hasProcessed }}
{{ $prefix = "/edited"}}
{{ end }}
{{ $dimClass := "" }}
{{ if gt .Params.imageHeight .Params.imageWidth }} {{ $dimClass = "is-3by4" }}  {{ else }} {{ $dimClass = "is-4by3" }}  {{ end }}
<div data-cy="sign-tile"
        class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <a  href="{{.RelPermalink}}">
        {{ $img := dict "title" .Params.Title "thumbnail" .Params.thumbnail "width" "500" "height" "375" "class" "rounded-t-lg" "lazy" "true"  "prefix" $prefix "imageSuffix" "_m" "imageId" .Params.imageid }}
        {{ partial "widgets/signimage.html" $img }}
    </a>
    <div class="p-5">
        <p class="font-semibold text-lg text-gray-900 dark:text-white">{{.Params.title}}</p>
        <div class="prose text-base text-gray-900 dark:text-white">{{.Content}}</div>
    </div>
</div>
