{{ define "main" }}

{{ $stateSlug := .Params.stateSlug }}
{{ $statePath := printf "/%s/%s" "state" $stateSlug}}
{{ $countyName := .Params.name }}
{{ $countySlug := .Params.slug }}


{{ $state := $.Site.GetPage $statePath }}
{{ $countryPath := printf "/%s/%s" "country" $state.Params.countryslug }}
{{ $country := $.Site.GetPage $countryPath }}
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="{{$country.RelPermalink}}">{{$country.Params.name}}</a></li>
        <li><a href="{{$state.RelPermalink}}">{{$state.Params.name}}</a></li>
        <li class="is-active"><a href="#" aria-current="page">{{.Params.name}}</a></li>
    </ul>
</nav>

{{ with $state }}
<h3 class="title is-3">{{$countyName}}, {{.Params.name}}</h3>
{{ end }}

{{ $signTotal := where .Pages "Params.place" "!=" nil }}

{{ $groupedPlaces := $signTotal.GroupByParam "place" }}
<h5 class="subtitle is-5">Localities:
{{ if gt (len $groupedPlaces) 1 }}
{{ range $idx, $val := $groupedPlaces }}
{{ $placePath := printf "/%s/%s" "place" $val.Key}}
{{ with $.Site.GetPage $placePath}}
{{ if gt $idx 0 }}
|
{{ end }}
<a href="#{{.Params.slug}}">{{ .Params.name }}</a>
{{ end }}
{{ end }}
</h5>

{{ end }}

<div class="block">
{{ range $groupedPlaces }}
{{ $placePath := printf "/%s/%s" "place" .Key}}
{{ $placePage := $.Site.GetPage $placePath}}
{{ if $placePage }}
{{ with $.Site.GetPage $placePath }}
<h4 class="title is-4" id="{{.Params.slug}}"  ><a href="{{.RelPermalink}}">{{ .Params.name }}</a></h4>
{{ end }}
{{ else }}
<h4 class="title is-4"  >No Place Associated</h4>
{{ end }}
<div class="columns is-centered is-multiline">

    {{ range .Pages }}
{{ $signId := .Params.imageid}}
{{ $signpath := printf "/%s/%s" "sign" $signId}}
{{ with $.Site.GetPage $signpath }}
{{ partial "sign/tile.html" . }}
{{ end }}
{{ end }}
</div>
    {{end}}

    {{ $noPlaces := where .Pages "Params.place" "==" nil }}
    {{ with $noPlaces }}
    <h4 class="title is-4" >No Place Associated</h4>
    <div class="columns is-centered is-multiline">

        {{ range . }}
        {{ $signId := .Params.imageid}}
        {{ $signpath := printf "/%s/%s" "sign" $signId}}
        {{ with $.Site.GetPage $signpath }}
        {{ partial "sign/tile.html" . }}
        {{ end }}
        {{ end }}
    </div>
    {{ end }}

    <span class="icon is-small">
                <i class="fa fa-random"></i>
            </span>
    <a href="https://random.roadsign.pictures/statesubdivision/{{$countySlug}}">Show Random Sign From {{$countyName}}</a>

</div>
{{ end }}