{{ define "main" }}

{{ $allHighways := newScratch }}
{{ $highwayTypeMapScratch := newScratch }}

{{ $highwayTypesAll := slice }}

{{ range .Params.highways }}
{{ $path := printf "/%s/%s" "highway" . }}
{{ with $.Site.GetPage $path }}
{{ $highwayTypesAll = $highwayTypesAll | append .Params.highwayType.name }}
{{ if $allHighways.Get .Params.highwayType.name }}
{{ $allHighways.Add .Params.highwayType.name . }}
{{ $highwayTypeMapScratch.SetInMap "highway-type-lookup" .Params.highwayType.name .Params.highwayType.slug }}
{{ else }}
{{ $allHighways.Set .Params.highwayType.name ( slice . ) }}
{{ $highwayTypeMapScratch.SetInMap "highway-type-lookup" .Params.highwayType.name .Params.highwayType.slug }}
{{ end }}
{{ end }}
{{ end }}

{{ $highwayTypes := uniq $highwayTypesAll }}


{{ range $highwayTypes }}
    {{ $name := . }}
    {{ $slug := index ( $highwayTypeMapScratch.Get "highway-type-lookup") . }}
    {{ $path := printf "/%s/%s" "highwayType" $slug }}
    {{ with $.Site.GetPage $path }}
    {{ if $highwayTypeMapScratch.Get "highway-type-page" }}
    {{ $tempPageSlice := $highwayTypeMapScratch.Get "highway-type-page" }}
    {{ $tempPageSlice = $tempPageSlice | append . }}
    {{ $highwayTypeMapScratch.Set "highway-type-page" $tempPageSlice }}
    {{ else }}
    {{ $highwayTypeMapScratch.Set "highway-type-page" (slice .) }}
    {{ end }}
    {{ end }}
{{ end }}


{{ $countryPath := printf "/%s/%s" "country" .Params.countryslug }}
{{ $country := $.Site.GetPage $countryPath }}
<nav class="breadcrumb" aria-label="breadcrumbs" data-test="breadcrumb">
    <ul>
        <li data-test="breadcrumb-home"><a href="/">Home</a></li>
        <li data-test="breadcrumb-country"><a href="{{$country.RelPermalink}}">{{$country.Params.name}}</a></li>
        <li data-test="breadcrumb-state" class="is-active"><a href="#" aria-current="page">{{.Params.name}}</a></li>
    </ul>
</nav>


<section class="section">
    <div class="container-top">
        <h3 class="title is-3" data-test="state-title">Signs From {{.Params.name}}</h3>
        <section class="hero">
            {{ $path := printf "/%s/%s" "sign" .Params.featured}}
            {{ with $.Site.GetPage $path }}
            <figure class="image {{ if gt .Params.imageHeight .Params.imageWidth }}  is-3by4  {{ else }} is-4by3 {{ end }} width">
                <a id="state-featured" href="{{.RelPermalink}}">
                    <img id="state-featured-img" src="{{site.Params.SIGNBASEURL}}{{.Params.imageid}}/{{.Params.imageid}}_l.jpg"
                        alt="{{.Params.title}}" style="opacity: 1; transition: opacity 0.15s linear 0s;" />
                </a>
            </figure>
            {{end }}
        </section>
        <div>
            <span class="icon is-small">
                <i id="refresh-icon" class="fa fa-random"></i>
            </span>
            <a id="refresh-random">Show Random Sign From {{.Params.name}}</a>
        </div>
        <section class="section">
            {{ $stateSlug := $.Params.slug }}
            {{ $countyParams := .Params.counties }}
            {{ with .Params.subdivisionname }}
            <div class="box">
                    <h4 class="title is-4">{{ . }}</h4>
                    {{ with $countyParams }}
                            <ul class="browse-flat-list">
                            {{ range $idx, $counties := sort . "name" }}
                            {{ $countypath := printf "/%s/%s_%s" "county" $stateSlug $counties.slug }}
                            {{ $c := . }}
                            {{ with $.Site.GetPage $countypath }}
                            <li>
                                <a class="is-size-6" href="{{.RelPermalink}}">
                                    {{$c.name}}
                                </a>
                                <span class="tag is-rounded is-info is-light">{{ .Params.imagecount }}</span>
                            </li>
                            {{ end }}
                            {{ end }}
                            </ul>
                    {{ end }}
            </div>
            {{ end }}
            <div class="box">
                <h4 class="title is-4">Localities</h4>
                    {{ with .Params.places }}
                        <ul class="browse-flat-list">
                        {{ range $idx, $places := sort . "name" }}
                        {{ $placepath := printf "/%s/%s_%s" "place" $stateSlug $places.slug }}
                        {{ $c := . }}
                        {{ with $.Site.GetPage $placepath }}
                        <li>
                         <a class="is-size-6" href="{{.RelPermalink}}">
                        {{$c.name}}
                         <span class="tag is-rounded is-info is-light">{{ .Params.imagecount }}</span>
                        </a>
                        </li>
                        {{ end }}
                        {{ end }}
                        </ul>
                {{ end }}
            </div>
            {{ with $highwayTypeMapScratch.Get "highway-type-page" }}
            <div class="box">
                <h4 class="title is-4">Highways</h4>
                {{ range sort . ".Params.Sort" }}
                {{ $typ := .Params.name }}
                {{ $hwyTypePagePath := printf "/%s/%s" "highwaytype" .Params.slug }}
                {{ $hwyTypePage := $.Site.GetPage $hwyTypePagePath }}
                <div class="block">
                <p class="title is-size-5">
                <a href="{{$hwyTypePage.RelPermalink}}">{{.Params.name}}</a>
                </p>
                <ul class="browse-flat-list">
                {{range $htidx, $hwy := sort ( $allHighways.Get $typ ) ".Params.name"  }}

                {{ partial "highway/flat.html" . }}

                {{ end }}
                </ul>
                </div>
                {{ end }}
            </div>
            {{ end }}
        </section>
    </div>
</section>
<script>
    (function () {
        const $button = document.getElementById("refresh-random");
        const $img = document.getElementById("state-featured-img");
        const $link = document.getElementById("state-featured");
        const $refreshIcon = document.getElementById("refresh-icon");
        $button.addEventListener("click", function () {
            $refreshIcon.classList.remove("fa-random");
            $refreshIcon.classList.add("fa-arrows-rotate")
            $refreshIcon.classList.toggle("fa-spin");

            fetch('https://random.roadsign.pictures/state/{{.Params.slug}}?idonly')
                .then(f=>f.json())
                .then(f=>{
                    $img.src = "{{site.Params.SIGNBASEURL}}" + f.imageId + "/" + f.imageId + '_l.jpg';
                    $link.href = "/sign/" + f.imageId;
                    $refreshIcon.classList.add("fa-random");
                    $refreshIcon.classList.remove("fa-arrows-rotate")
                    $refreshIcon.classList.toggle("fa-spin");
                });
        });
    })();
</script>
{{ end }}