{{ define "main"}}

{{ $slug := .Params.slug }}
{{ $countryPath := printf "/%s/%s" "country" .Params.Country }}
{{ $country := $.Site.GetPage $countryPath }}

<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="{{$country.RelPermalink}}">{{$country.Params.name}}</a></li>
        <li class="is-active"><a href="#" aria-current="page">{{.Params.name}}</a></li>
    </ul>
</nav>
<div class="columns body-columns">
    <div class="column is-half infinite-scroll is-offset-one-quarter">
        <h3 class="title is-3 has-text-centered">{{ .Params.name }}</h3>
        
        {{ range sort .Params.highways  }}
        {{ $path := printf "/%s/%s" "highway" . }}
        {{ with $.Site.GetPage $path }}
        {{ if gt (len .Pages) 0 }}
        {{ partial "highway/tile.html" . }}
        {{ end }}
        {{ end }}
        {{ end }}
    </div>
</div>
{{ end }}